<app-nav-bar></app-nav-bar>


<div style="display: flex;justify-content: space-between;padding: 1rem; align-items: center; background-color:rgba(255,255,255,.5);height: 45rem;width: 99%;margin: 5rem auto;">
  <div  style=" width : 500px ;background-color: rgba(255, 255, 255); border-radius: 20px;box-shadow: 1px 1px 15px gray; padding: 3rem;">
    <canvas id="chart"></canvas>
  </div>

  <div  style=" width : 600px ;background-color: rgb(255, 255, 255); border-radius: 20px;box-shadow: 1px 1px 15px gray; padding: 1rem;">
    <canvas id="chart2"></canvas>
  </div>
</div>
