.father{
  display: flex;
  width: 100%;
}



.posts
{
  margin-bottom: 2rem;
  background-color: #fff;
  width: 60%;

  border-radius: 10px;
  border: .3px solid rgb(233, 233, 233);

}
.posts:hover{
  box-shadow: 3px 3px 18px lightgray;
  transition: all .5s;
}
header{
  width: 100%;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  display: flex;
  gap: 10px;

}

#date{
  position:absolute;
}
#date:hover{
  cursor:default;
}

#date::after
{
  display: none;
  content: attr(fulldate);
  padding-left: .5rem;
  border-radius: 2px;
  width: 10rem;
  background-color: rgb(245, 245, 245);
}
#date:hover::after{
  margin: 0;
  z-index: 6;
  display: block;
  position: relative;
}

.posts footer
{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;

  border-bottom-left-radius: 10px
;border-bottom-right-radius: 10px;
  border-top: .3px solid rgb(233, 233, 233);
  display: flex;

  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
}
.posts footer
{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;

  border-bottom-left-radius: 10px
;border-bottom-right-radius: 10px;
  border-top: .3px solid rgb(233, 233, 233);
  display: flex;

  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
}


#readlater
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #343a40;
}
#readlater:hover{
  cursor: pointer;
}
#fullname:hover{
  cursor: pointer;
}





mat-sidenav-container{

  background-color: #fff;
}
mat-sidenav, mat-sidenav-content{
  padding: 16px;
}
mat-sidenav{
  border-right: .5px solid lightgray;
  width: 400px;
  padding-top: 6rem;
}
i{
  margin-right: .2rem;
}
label{
  color:  #0c2461;
  font-size: larger;
  font-weight: 500;

}

input{
  outline: none;
  border: 1.5px #0c2461 solid;
  width: 100% ;
  height: 2rem;
  border-radius: 12px;
  padding-left: .5rem;

}
.info{

  width: 90%;
}

.visible{
  visibility: visible;
  position: fixed ;
  top: 15rem ;
transition: all ease-in-out .3s;
}
.nvisible{
  position: fixed ;
  top: 8rem ;
  visibility: hidden;
  transition: all ease-in-out .3s;
}
