<!--father container- ------ ---------- -->
<div class="father">
<!-- begin  frist view child containe navbar and intrducing section-->
<div class="firstChild">
<!--  begin navbar -->
  <app-nav-bar></app-nav-bar>
<!--  end navbar-->
<!--  begin introduction section-->
  <div class="int">
   <p class="text-amber-700 backdrop-blur" style="font-size: xx-large ; font-weight: 600 ; line-height: 150% ; margin-bottom: 1rem">Manage all your data at just one place.</p>
    <p style="line-height: 1.6 ; font-size: large">Best in class big data software and
      analytics services will render your huge chunks into meaningful data.</p>
    <div class="register">

      <form  style="height: 100%;display: flex ; justify-content: space-between">

        <input type="text" style="height: 100%; width: 75% ; border-radius: 25px  ; border: none ; outline: none " placeholder="enter your e_mail to join us ">
        <button type="submit"  style="background-color:#15ccbe; z-index: 10 ; width: 40%;
         height: 100%; border-radius: 25px ; border: none ; outline: none ; color: whitesmoke ; font-size: larger ; font-weight: bold ">join us</button>
      </form>
    </div>

  </div>
<!--  end of introduction section-->
</div>
  <!-- end of the frist view child containe navbar and intrducing section-->
  <div class="secondChild , text-amber-700" >
<p>hazem ben saria</p>
  </div>
</div>

